<h3>MyAPI 2</h3>
<div class="col-sm-8" style="background-color: #f5f4f1"><br>
    {<br>
    <table class="table table-borderless">
        <tr>
            <td>
                &nbsp;&nbsp;<span class="text-success">"id"</span>:
            </td>
            <td><input type="number" id="fruitId" class="form-control" style="width: 20%"></td>
        </tr>
    </table>
    }<br><br>
    <button class="btn btn-primary" th:onclick="soldFruitInfoBtn()">POST</button>
    <br><br>
</div>
<br>
<div class="col-sm-8" style="background-color: #f5f4f1">
                <span id="soldFruitInfo">
                <h3 class="badge badge-light text-danger">실행 결과 : </h3><br>
                </span>

</div>
</div>