<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">[인프런 워밍업 클럽 0기 BE]</h1>
    <a style="font-size: large" class="badge badge-primary text-basic" href="https://velog.io/@vosxja1/%EC%9D%B8%ED%94%84%EB%9F%B0-%EC%9B%8C%EB%B0%8D%EC%97%85-%ED%81%B4%EB%9F%BD-0%EA%B8%B0-BE-1%EC%9D%BC%EC%B0%A8-%EA%B3%BC%EC%A0%9C">1일차
        과제</a>
    <a style="font-size: large" class="badge badge-primary text-basic" href="/day2">2일차 과제</a>
    <a style="font-size: large" class="badge badge-primary text-basic" href="https://velog.io/@vosxja1/%EC%9D%B8%ED%94%84%EB%9F%B0-%EC%9B%8C%EB%B0%8D%EC%97%85-%ED%81%B4%EB%9F%BD-0%EA%B8%B0-BE-3%EC%9D%BC%EC%B0%A8-%EA%B3%BC%EC%A0%9C">3일차
        과제</a>
    <a style="font-size: large" class="badge badge-primary text-basic" href="/">4일차 과제</a>
    <a style="font-size: large" class="badge badge-primary text-basic" href="https://velog.io/@vosxja1/%EC%9D%B8%ED%94%84%EB%9F%B0-%EC%9B%8C%EB%B0%8D%EC%97%85-%ED%81%B4%EB%9F%BD-0%EA%B8%B0-BE-5%EC%9D%BC%EC%B0%A8-%EA%B3%BC%EC%A0%9C">5일차 과제</a>
    <a style="font-size: large" class="badge badge-primary text-basic" href="/">6일차 과제</a>
</div>

</body>
</html>