<h3>MyAPI 3</h3>
<div class="col-sm-8" style="background-color: #f5f4f1"><br>
    <br>
    <table>
        <tr>
            <td>&nbsp;&nbsp;<span class="text-success">"Name"</span>:</td>
            <td>&nbsp;<input type="text" id="fruitSaleName"></td>
        </tr>
    </table>
    <br><br>
    <button class="btn btn-primary" th:onclick="salesAmountBtn()">GET</button>
    <br><br>
</div>
<br>
<div class="col-sm-8" style="background-color: #f5f4f1">
            <span id="salesAmountID">
                <h3 class="badge badge-light text-danger">실행 결과 : </h3><br>
            </span>
</div>
</div>
<div class="card-footer">Yeong_Huns</div>